{% block body %}
    {{ include('list/_form.html.twig', {
        button_text: 'Update task',
        title: 'Update task:'
    })
    }}

    <table>
        <tr>
            <th>Image</th>
            <th>Options</th>
        </tr>
        {% for image in images.Values %}
            <tr>
                <td>
                    <img src="{{ image.getOfficialDestination }}" width="100">
                    <hr>
                </td>
                <td>
                    <div class="options">
                        <a href="{{ path('image_edit', { id: image.id}) }}">
                            <span class="fa fa-pencil-alt"></span>
                        </a>

                        <a href="{{ path('image_delete', { id: image.id}) }}" onclick="return confirm('Are you sure?')">
                            <span class="fa fa-trash"></span></a>
                    </div>
                </td>
            </tr>

        {% endfor %}
    </table>


{% endblock %}

