{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add new task</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <buton type="submit" class="btn btn-primary"></buton>
    {{ form_end(form) }}
{% endblock %}